@using Resources
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="/Content/@Html.Action("CurrentTheme", "Home")" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resource.ProjectName, "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("О программе", "MyMessages", "Message")</li>
                    }
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resource.Theme<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Resource.Light, "ChangeTheme", "Home", new { theme = "light.css" }, null)</li>
                            <li>@Html.ActionLink(Resource.Dark, "ChangeTheme", "Home", new { theme = "dark.css" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resource.ChoseLang<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Resource.Russian, "ChangeCulture", "Home", new { lang = "ru" }, null)</li>
                            <li>@Html.ActionLink(Resource.English, "ChangeCulture", "Home", new { lang = "en" }, null)</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – @Resource.ProjectName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
    var chat = $.connection.chatHub;
    // Объявление функции, которая хаб вызывает при получении сообщений
    //chat.client.addMessage = function (name, message) {
    //    // Добавление сообщений на веб-страницу
    //    $('#chatroom ul').append('<li><strong>' + htmlEncode(name)
    //        + '</strong>: ' + htmlEncode(message) + '</li>');
    //};
    chat.client.addMessage = function (name, message) {
        // Добавление сообщений на веб-страницу
        var now = new Date();
        var formatedDate = now.format("yyyy-mm-dd");
        $('#chatroom ul').append('<li class="media">' +
            +'<div class="media-body">' +
            +'<h4 class="media-heading">' + name + '<span class="pull-right">' + formatedDate + '</span></h4>' +
                                +'<div>' + message + '</div></div></li>');
    };
    
    chat.client.updateDialogs = function (name) {
        // Добавление сообщений на веб-страницу
        var li = $("li[id=" + name + "]");
        if (li.length > 0) {
            var count = $("li[id=" + name + "] span.badge").text();
            count =Number(count)+1;
            $("li[id=" + name + "] span.badge").text(count);
            li.remove();
            $("#chatroom ul").prepend(li);
        }
    };
    
    chat.client.updateUnreadMessages = function (name) {
        // Добавление сообщений на веб-страницу
        var li = $("li[id=" + name + "]");
        if (li.length > 0) {
            var count = $("li[id=" + name + "] span.badge").text();
            count = Number(count) + 1;
            $("li[id=" + name + "] span.badge").text(count);
            li.remove();
            $("#chatroom ul").prepend(li);
        }
    };

    // Функция, вызываемая при подключении нового пользователя
    chat.client.onConnected = function (id, userName, allUsers) {

        $('#header').html('<h3>Добро пожаловать, ' + @User.Identity.Name + '</h3>');
    };
    // Открываем соединение
    $.connection.hub.start().done(function () {

        $('#sendmessage').click(function () {
            // Вызываем у хаба метод Send
            chat.server.send($('#hdUserName').val(), $('#message').val());
            $('#message').val('');
        });

        // обработка логина
        $(document).ready(function () {
            chat.server.connect("@User.Identity.Name");
        });
    });
    // Кодирование тегов
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }


    $('#searchUser').click(function () {
        var name = $("#story").val();
        if (name != null) {
            if ($("li[id=" + name + "]").length > 0) {
                var ul = $("li[id=" + name + "]");
                $("#chatroom ul").empty();
                $("#chatroom ul").append(ul);
            } else {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetUser", "Account")",
                    data: "userName=" + $("#story").val(),
                    success: function (data) {
                        $("#chatroom ul").empty();
                        if (data == false)
                            $("#chatroom ul").append('<li class="alert alert-warning">Пользователя с таким именем не найдено.</li>');
                        else {
                            var href = '@Url.Action("ShowDialog","Message",new {userName="sdf"})';
                            $("#chatroom ul").append('<li id="' + $("#story").val() + '"><a href="/Message/ShowDialog?userName=' + $("#story").val() + '" ><span id="#senderName">' + $("#story").val() + '</span><span class="badge">0</span></a></li>');
                        }
                    }
                });
            }

        }
    });
    </script>
</body>
</html>
