@model   IEnumerable<CellularAutomaton.Domain.Message>
@{
    ViewBag.Title = String.Format("Диалог с пользователем: {0}",ViewBag.UserName);
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="bg-success col-md-6 col-md-offset-3">
        <div id="chatBody">
            <div id="header"></div>
            <div id="inputForm">
                <input type="text" id="message" />
                <input type="button" id="sendmessage" value="Отправить" />
            </div>
            <input id="hdUserName" type="hidden" value="@ViewBag.UserName" />
            <div id="chatroom">
                    @if (Model.Any())
                    {
                        foreach (var message in Model)
                        {
                            <div id="message" class="panel dialog-message panel-@(message.Sender.UserName==ViewBag.UserName?message.IsRead?"primary":"warning":"primary")">
                                <input id="messageId" type="hidden" value="@message.Id" />
                                <div class="panel-heading">@message.Sender.UserName <span class="pull-right">@message.CreationDate.ToString("g")</span></div>
                                <div class="panel-body">
                                    @message.Text
                                </div>
                            </div>
                        }
                    }
            </div>
        </div>
    </div>
</div>



