@using CellularAutomaton.Domain
@model  IEnumerable<IGrouping<string, CellularAutomaton.Domain.Automaton>>
<ul class="list-group">
    @foreach (IGrouping<string, Automaton> group in Model)
    {
        <li class="list-group-item">@group.Key</li>
        foreach (var automaton in group)
        {
            <li class="list-group-item">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        @automaton.Name
                        <span class="pull-right">&nbsp;@automaton.CreationDate.ToString("g")</span>
                        <span class="pull-right">Автор:&nbsp;@Html.ActionLink(automaton.Creator.UserName, "UserAutomatons", "Automaton", new { id = automaton.Creator.Id }, null)</span>
                    </div>
                    <div class="panel-body">
                        @automaton.Discription
                    </div>
                    <div class="panel-footer">
                        @foreach (var tag in automaton.Tags)
                        {
                            @Html.ActionLink(tag.Name, "SearchByTag", "Automaton", new { tag = @tag.Name }, new { @class = "badge" })
                        }
                        @Html.ActionLink("Перейти", "ShowAutomaton", "Automaton", new { id = automaton.Id }, new { @class = "btn btn-primary btn-sm pull-right" })
                    </div>
                </div>
            </li>
        }
    }
</ul>